<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1"/>
		<title>修改密码</title>
		<!-- 引入 Bootstrap -->
		<link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
		<!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
		<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
		<!-- 包括所有已编译的插件 -->
		<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<style type="text/css">
			body {
			  background-image: url({{url_for("static",filename='background.JPG')}});
			  background-position: center 0;
			  background-repeat: no-repeat;
			  background-attachment: fixed;
			  background-size: cover;
			  -webkit-background-size: cover;
			  -o-background-size: cover;
			  -moz-background-size: cover;
			  -ms-background-size: cover;
			}
			body,html {
			            margin: 0px;
			            height:100%;
			        }
		</style>
	</head>
	<body>
		<ul id="nav" class="nav nav-pills nav-stacked" style="width: 10%;height: 100%;background-color: #204D74;">
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<li role="presentation" id="bar-1"><a href={{url_for("album.home")}} style=" color: #A6E1EC;font-size:22px;"onMouseOver="this.style.color='royalblue';" onMouseOut="this.style.color='#A6E1EC';">我的相册</a></li>
			<br/>
			<li class="nav-header" style="color: lightgray;"></li>
			<li role="presentation" id="bar-2"><a href={{url_for("album.change")}} style="color: #A6E1EC;font-size:22px;"onMouseOver="this.style.color='royalblue';" onMouseOut="this.style.color='#A6E1EC';">信息管理</a></li>
		  </ul>
		<div class="body" style="position: absolute;left: 16%;top: 10%;width: 83%;">
			<div class="load_form " style="margin-top: 3%;margin-left: 16%; width: 50%; height: 50%; background-color: white; opacity:0.9">
					<br/>
					<br/>
					<br/>
					<br/>
				<form method="post">
					{{ form.csrf_token }}
					<label for="old_password" style="color: black;font-size: 20px; margin-left: 10%;">OldPassword</label>
					<input type="password" class="form-control center-block" id="old_password" name="old_password"
						placeholder="请输入密码" style="width: 80%;" />
					<br/>
					<br/>
					<label for="new_password" style="color: black;font-size: 20px; margin-left: 10%;">NewPassword</label>
					<input type="password" class="form-control center-block" id="new_password" name="new_password"
					placeholder="请输入密码" style="width: 80%;" />
					<br/>
					<br/>
					{% for message in get_flashed_messages() %} 
					<small class="error" style="margin-left:60px;">{{ message }}</small><br> 
					{% endfor %}
					<input type="submit" class="btn btn-primary" id="submit" name="submit" value='确认修改'
					style="font-size: 20px;width: 20%; margin-left:42%;" />
				</form>
				<br/>
					<br/>
			</div>
		</div>
	</body>
</html>
